{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{# @var field \EasyCorp\Bundle\EasyAdminBundle\Dto\FieldDto #}
{# @var entity \EasyCorp\Bundle\EasyAdminBundle\Dto\EntityDto #}

{# @author Ing. Dominik Mach <xXIamCzechXx@gmail.com> #}
{% set id = ea.entity.instance.id ?? null %}
{% if id %}
    <div class="ea-field-user-list">
        <iframe
            src="{{ field.customOptions.get('callbackUrl') }}"
            data-controller="{{ form.vars.ea_vars.field.customOptions.get('controller') }}"
            height="{{ field.customOptions.get('height') }}"
            width="100%"
        ></iframe>
    </div>
{% else %}
    <p class="text-muted">Uživatelé budou dostupní po vytvoření klienta.</p>
{% endif %}
