{% extends '@EasyAdmin/crud/form_theme.html.twig' %}

{% block choice_widget_collapsed %}
    {% if form.vars.attr['urlToAction'] is defined and form.vars.value is not empty and form.vars.value is same as(form.vars.value|ea_as_string) %}
        {% set url = form.vars.attr['urlToAction'].setEntityId(form.vars.value).generateUrl %}
        <div class="input-group">
            {{ parent() }}
            {% if url %}
                <span class="input-group-text p-1 px-2 h-100 m-0">
                <a href="{{ url }}" class="" title="detail" target="_blank">
                    <i class="fa fa-pencil"></i>
                </a>
            </span>
            {% endif %}
        </div>
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock choice_widget_collapsed %}
