{% extends '@EasyAdmin/crud/form_theme.html.twig' %}

{% block choice_widget_collapsed %}
    {% if form.vars.attr['url'] is defined and form.vars.value is not empty and form.vars.value is same as(form.vars.value|ea_as_string) %}
        {% set url = form.vars.attr['url']
            .setEntityId(form.vars.value)
            .setController(form.vars.attr['crudControllerFqcn'])
            .setAction(form.vars.attr['crudAction'])
            .generateUrl()
        %}
        <div class="input-group iamczech--link-group">
            {{ parent() }}
            {% if url %}
                <a href="{{ url }}" class="btn iamczech--link-button" title="detail" target="{{ form.vars.attr['target'] }}">
                    <span class="icon">
                        <i class="
                            {% if form.vars.attr['crudAction'] == 'detail' %}
                                fa-solid fa-eye
                            {% elseif form.vars.attr['crudAction'] == 'edit' %}
                                fa fa-pencil
                            {% else %}
                                fa-solid fa-xmark
                            {% endif %}
                        "></i>
                    </span>
                </a>
            {% endif %}
        </div>
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock choice_widget_collapsed %}
