<div
    class="modal fade create-entity-modal"
    tabindex="-1"
    aria-hidden="true"
    data-iamczech--easyadmin-fields-bundle--association-list-target="modal"
>
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5
                    class="modal-title"
                    data-iamczech--easyadmin-fields-bundle--association-list-target="modalTitle"
                ></h5>

                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="{{ 'action.close'|trans([], domain = 'EasyAdminBundle') }}"
                ></button>
            </div>

            <div class="modal-body">
                <div
                    class="content-body"
                    data-iamczech--easyadmin-fields-bundle--association-list-target="modalBody"
                ></div>
            </div>

            <div
                class="modal-footer"
                data-iamczech--easyadmin-fields-bundle--association-list-target="modalFooter"
            ></div>
        </div>
    </div>
</div>
